@font-face {
  font-family: "Gotham";
  src: url("./fonts/gotham-light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Gotham";
  src: url("./fonts/gotham-normal.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Gotham";
  src: url("./fonts/gotham-bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box !important;
  -moz-box-sizing: border-box !important;
  -ms-box-sizing: border-box !important;
  box-sizing: border-box !important;
  scroll-behavior: smooth;
  line-height: 1.2;
  font-family: sans-serif;
  /* letter-spacing: -1px; */
  cursor: pointer;
  color: var(--color-primary);
}

:root {
  box-sizing: border-box !important;
  --color-primary: white;
  --color-gradient-blue: #004aad;
  --color-gradient-purple: #cb6eb6;

  --color-severe: #ff0d0d;
  --color-high: #ff4e11;
  --color-medium: #ff8e15;
  --color-light: #fab733;
  --color-safe: #69b34c;

  --font-size-title: 4em;
  --font-size-title-mobile: 3em;

  --font-size-heading: 3em;
  --font-size-heading-mobile: 2.5em;

  --font-size-subheading: 2em;
  --font-size-subheading-mobile: 2em;

  --font-size-text: 1.5em;
  --font-size-text-mobile: 1em;

  --font-weight-light: 300;
  --font-weight-normal: 400;
  --font-weight-bold: 700;

  --max-width: 900px;
}

.container {
  padding: 2em 0em;
  width: 100%;
}

.row {
  width: 75%;
  margin: 0 auto;
  max-width: var(--max-width);
}

/*FONT SIZES CLASSES*/
.title {
  font-size: var(--font-size-title);
  font-weight: var(--font-weight-bold);
}
.heading {
  font-size: var(--font-size-heading);
  font-weight: var(--font-weight-bold);
}
.subheading {
  font-size: var(--font-size-subheading);
  font-weight: var(--font-weight-bold);
}
.text {
  font-size: var(--font-size-text);
}

/*FONT WEIGHT CLASSES*/

.bold {
  font-weight: var(--font-weight-bold);
}
.light {
  font-weight: var(--font-weight-light);
}

@media (max-width: 1224px) {
}
@media (max-width: 768px) {
  .title {
    font-size: var(--font-size-title-mobile);
  }
  .text {
    font-size: var(--font-size-text-mobile);
  }
  .row {
    width: 85%;
  }
}

/* Smartphones (portrait) */
@media only screen and (max-width: 540px) {
  /* Styles */
  .text {
    font-size: var(--font-size-text-mobile);
  }
  .title {
    font-size: var(--font-size-heading-mobile);
  }
}
